*{
    font-family: "Work Sans";
}
/*header style*/
.color{
    color: #ff42a5;
}
body{
    margin: 0;
}
header{
 background: #FFF;
box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);
width: 100%;

}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-inline: 240px;
    margin-top: 44px;

}
.img-1{
    display: flex;
    align-items: center;
}
.icon{
 border-radius: 8px;
background: rgba(11, 2, 35, 0.10);
width: 262px;
height: 56px;
align-items: center;
padding-inline: 24px;
}
nav h2{
    font-size: 45px;
    font-weight: 700;
}
nav a{
    color: #3C354F;
    text-align: center;
    font-weight: 500;
    font-size: 18px;
    text-decoration: none;
}
nav div{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 32px;
}
/*main play like style*/
.container{
    display: flex;
    gap: 0px;
 
}
.text{
    position: absolute;
    top: 250px;
    left: 244px;
}
.text h1{
   position: absolute;
   top: 30px;
}
.icon-1{
    position: absolute;
    top: 480px;
    left: 244px;
    
}
.icon-2{
    position: absolute;
    top: 520px;
    left: 244px;
}
.icon-3{
    position:absolute;
    top: 560px;
    left: 244px;
}
.btn-1{
display: inline-flex;
padding: 21px 40px;
align-items: flex-start;
gap: 10px;
border-radius: 48px;
background: var(--Linear, linear-gradient(90deg, #FF42A5 13.13%, #FF42A5 87.94%));
color: #FFF;
font-size: 20px;
font-weight: 600;
border: none;
}
.btn-2{
color: #FFF;
font-size: 20px;
font-weight: 600; 
border-radius: 48px;
background: #4EC5F7;
display: inline-flex;
padding: 21px 40px;
align-items: flex-start;
gap: 10px;
border: none;  
}
.btn-1{
    position: absolute;
    top: 630px;
    left: 244px;
}
.btn-2{
    position: absolute;
    top: 630px;
    left: 420px;
}
.text h2{
color: #0B0223;
text-align: center;
font-size: 48px;
font-weight: 600;
}
.text h1{
background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
background-clip: text;
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
font-size: 90px;
font-weight: 800;
}
.icon-1,.icon-2,.icon-3{
    display: flex;
    align-items: center;
    gap: 8px;
    margin-bottom: 10px;
}
.all-icon{
text-decoration: none;
color: #534C64;
}

/*main play like style*/
.gamer-right{
    display: flex;
    height: 600px;
    background: linear-gradient(90deg, rgba(255, 66, 165, 0.03) 13.13%, rgba(255, 66, 165, 0.03) 87.94%);
}
.gamer h2{
    position: absolute;
    right: 240px;
}
.gamer p{
    position: absolute;
    right: 240px;
    bottom: -240px;
}
.btn-3{
    position: absolute;
    right: 240px;
    bottom: -300px;
}
.our{
    position: absolute;
    right: 240px;
    bottom:-380px ;
}
.gamer h3{
    position: absolute;
    right: 240px;
    bottom: -430px;
}

.gamer h2{
text-align: right;
font-size: 48px;
font-weight: 700;
background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
background-clip: text;
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
right: 240px;   
}
.gamer h3{
color: #534C64;
font-family: "Work Sans";
font-size: 32px;
font-style: normal;
font-weight: 700;
line-height: 45px;
}
.gamer p{
width: 520px;
color: #534C64;
text-align: right;
font-size: 18px;
font-weight: 400;
line-height: 30px;
}
.our{
color: #534C64;
text-align: right;
font-size: 24px;
font-weight: 500;
line-height: 45px;
}
.btn-3{
color: #FFF;
font-size: 20px;
font-weight: 600;
padding: 21px 40px;
gap: 10px;
border-radius: 48px;
background: var(--Linear, linear-gradient(90deg, #FF42A5 13.13%, #FF42A5 87.94%));
border: none;
}
@media screen and (max-width:576px) {
    nav,
    .icon{
        flex-direction: column;
    }
    nav,.img-2{
        width: 100%;
    }
    .container{
        flex-direction: column;
        width: 100%;
    }
}